body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  touch-action: pan-x pan-y;
  h1,
  h2 {
    background-color: #ffffff50;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .card {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    border: 2px solid black;
    margin: 50px 0 20px 0;
    background-color: #ffffff;
  }
}

.Drums {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  .keys {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    border: 2px solid black;
    margin: 50px 0 20px 0;
    background-color: #ffffff;
  }
}

.key {
  margin: 2px;
  min-width: 120px;
  min-height: 100px;
  width: 20vw;
  height: 20vh;
  background-color: darkgray;
  border-radius: 5px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.key:hover {
  cursor: grab;
}

.key:active {
  background-color: grey;
}

.key:focus {
  background-color: red;
}

.Form {
  margin: 0 0 10px 0;
  h4,
  p {
    margin: 0;
  }
  input {
    width: 12px;
    text-align: center;
  }
  .dropdown {
    display: block;
  }
  input {
    margin-left: 3px;
  }
}
